@import '../bower_components/normalize-css/normalize.css';

@import 'settings';

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import '../bower_components/typeplate-starter-kit/scss/_typeplate-index';
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/animate.css/animate.min.css';

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');





html, body {
	margin: 0;
	min-height: 100%;
	height: auto;
	height:100%;
	-webkit-font-smoothing: antialiased;
	// background: tomato;
}

body {
	background:
	linear-gradient(
		-45deg,
		rgba(0, 114, 187, .8),
		transparent
	),
	linear-gradient(
		45deg,
		rgba(#008BBB, .8),
		transparent
	),

	url(../images/sea.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	// background-blend-mode: color, overlay, initial;
	// &:before {
	// 	content: '';
	// 	position: fixed;
	// 	height:100%;
	// 	width:100%;
	// 	left: 0;
	// 	@include background(linear-gradient(rgb(0, 114, 187), #008BBB) left repeat);
	// 	opacity: .6;
	// }
}
body {
	// @include background(linear-gradient(red, green) left repeat);
}
main{
	min-height: 100%;
	width:100%;
	display: table;
	color:#fff;
	position: relative;

	.center {
		margin: 0 auto;
		display: table-cell;
		vertical-align: middle;
	}
	h1 {
		margin-top: 0;
		color:#fff;
	}
}

.wrapper {
	@include outer-container;
	max-width:700px;
	padding: 20px;
}

img.logo {
	margin: 0 auto;
	display: block;
	width:240px;
}

ul.icons {
	width:100%;
	display: block;
	text-align: center;
	margin: 0 auto 1rem;
	padding: 0;
	li {
		display: inline-block;
		margin: 0 .2rem;
		a {
			opacity: .4;
			&:hover {
				opacity: 1;
			}
		}
	}
}

a {
	color:#fff;
	@include transition(all .3s ease-in-out);
	&:hover {
		color:#00FFB5;
	}
}
p, h3 {
	visibility: hidden;
	display: block;
	.no-js & {
		visibility: visible;
	}
	&.animated {
		visibility: visible;
	}
	a {
		font-weight: bold;
		text-decoration: none;
		border-bottom: rgba(#fff,.4) solid 2px;
		display: inline-block;
		padding: -2px 0;
		&:hover {
			border-bottom: rgba(#00FFB5,1) solid 2px;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}
